<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editing Post</title>
</head>
<body>
    <h3>editing post</h3>
    <form action="/postingpost" method="POST">
        <label for="heading" >heading</label>
        <input type="text" name="heading" value=x.heading required>
        <br />
        <label for="matter" >matter</label>
        <input type="text" name="matter" value=x.Matter required>
        <br />
        <label for="author" >author</label>
        <input type="text" name="author" value=x.Author required>
        <br />
        <input type="submit" value="submit">
        
    </form>
</body>
</html>