html >*
{
    font-size: 20px;
}
body{
    background-color: #EEF7FF;
}
/* css for heading  */
.heading
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/green.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
}
.heading >h1
{
    margin-bottom: 30px;
    margin-top: 10px;
}
.heading >p
{
    margin-left: 100px;
    margin-right: 100px;
}
.heading >div
{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}

/* css for all posts container  */
/* body
{
    background-color: gainsboro;
} */
.allPosts
{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;   
}

.eachPost >img
{
    float: left;
    margin: 30px;
    height: 200px;
    width: 150px;
}
.eachPost >p
{
    
    margin: 30px;
    padding-bottom: 30px;
}
.eachPost
{
    background-color: #83B4FF80;
    border-radius: 1%;
}
.eachPost >div
{
    padding: 30px;

}
.bookAuthour
{
    background-color: #83B4FF;
    border: 0;
}
.note 
{
    display: flex !important;
}
footer
{
    background-color: #BFF6C3;
    height: 30vh;
}
.headerBlocks >div{
    background-color: #FFBF0050;
    height: 200px;
    width: 200px;
    border-radius: 3%;
}
/* fonts  */
.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .barlow-extralight {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .barlow-light {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-medium {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .barlow-bold {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .barlow-extrabold {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .barlow-black {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .barlow-thin-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .barlow-extralight-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .barlow-light-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-regular-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .barlow-medium-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .barlow-semibold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .barlow-bold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .barlow-extrabold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .barlow-black-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
/* css for home top  */
.homeTop
{
    display: flex;
    justify-content: center;
    width: 100%;
    gap:20px;
}
.homeTop >img
{
    height: 150px;
    width: 150px;
}
.homeTop >p
{
    display: flex;
    height: 150px;
    align-items: center;
    font-size: 40px;
}
html >*
{
    font-family: crimson-text-regular;
}
/* css for cursive font  */
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
/* css for royal text  */
.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .crimson-text-semibold {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .crimson-text-regular-italic {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .crimson-text-semibold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .crimson-text-bold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
  }
/* complete view of the book  */
.bookCompleteView
{
    margin-left: 350px;
    margin-right: 350px;
    padding: 30px;
    background-color: #83B4FF80;
}
.bookCompleteView >textarea
{
  width: 100%;
  /* height: 100; Adjust height as needed */
  resize: vertical;
}
.bookCompleteView1
{
    display: flex;
    gap:30px;
}
.bookCompleteView >h1
{
    text-align: center;
    margin-bottom: 30px;
}
.bookCompleteView1 >div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
/* edit page css  */
.editPage
{
  margin-left: 350px;
  margin-right: 350px;
  padding: 30px;
  background-color: #83B4FF80;
}
.trailer
{
  /* height: 300px; */
  height: 200px;
  width:100%;
  
}
.notes{
  /* min-height: 100px; */
  /* height: 600vh; */
  height: 500px;
  width: 100%;
}
.editPage input
{
  border: 0;
  background-color: #83B4FF80;
}