<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/createNewPost" >
        <label for="bookName">name:</label>
        <input id="bookName" name="bookName"/>
    <br />
        <label for="isbn">ISBN:</label>
        <input id="isbn" name="isbn" />
    <br />
        <label for="trailer">Trailer:</label>
        <input id="trailer" name="trailer" />
    <br />
        <label for="notes">Notes:</label>
        <input id="notes" name="notes" />
    <br />
        <label for="author">Author:</label>
        <input id="author" name="author" />
    <br />
        <label for="rating">Rating:</label>
        <input id="rating" name="rating" />
    <br />
        <label for="rating">Rating:</label>
        <input id="rating" name="rating" />
    <br />
        <!-- <label for="file_pdf">Upload:</label> -->
        <!-- <input id="rating" name="rating" /> -->
        <input type="submit" />

    </form>
</body>
</html>