<div class="class10">
    <p>Sunrise Time: <br /> <%=weatherRightNow.sys.sunrise%></p>
    <div class="class9">
        <p>Day Duration: <br /> <%=duration.x%></p>
        <img src="images/sunAndMoon.png" alt="" />
        <p>Night Duration: <br /> <%=duration.y%></p>
    </div>
    <p>Sunset Time: <br /> <%=weatherRightNow.sys.sunset%></p>
</div>
